<!DOCTYPE html>
<html>
<head>
	<!-- Getting the Jquery javascript plugin from the Google CDN -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
	<p>Make a room:</p>
	<input id='roomName' type='text' placeholder='Enter a room name here.'>
	<input id="submitButton" type='submit'>
	<pre id="printoutput"></pre>		
<script type="text/javascript">

$('#submitButton').click(function(){
	var roomName = $('#roomName').val();
	console.log(roomName);
	var alias = {"alias":roomName};
	alias = JSON.stringify(alias);
	console.log(alias);

	$.ajax({
		type: "POST",
		url: "/createroom",
		data: alias,
		contentType: "application/text; charset=utf-8",
		success: function(data){
			$('#printoutput').html(data);
		}
	});
});

</script>
</body>
</html>