<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
    /* Just a little bit of styling for the eyes.*/
    #content {
        width         : 660px;
        margin-top    : 0px;
        margin-bottom : 0px;
        margin-left   : auto;
        margin-right  : auto;
    }
    pre code {
        white-space      : pre-wrap;
        padding          : 0;
        border           : 0;
        background-color : code;
    }
    </style>
</head>
<body>
    <div id="content">
        <pre >
            <code>
                {{ myData }}
            </code>
        </pre>
    </div>
</body>
</html>
